@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tajawal:wght@400;700&display=swap");

@media screen and (max-width: 500px) {

  .lecturesBtn,
  .youtubeBtn,
  .booksBtn {
    width: 100%;
    height: 3em;
  }

  .nav-link {
    font-size: 1.3em;
  }
}

:root {
  --light-green: #00bfc0;
  --light-purple: #A267AC;
}

* {
  font-family: "Tajawal", "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 75px;
  font-size: 16px;
}

a,
li,
p,
h5,
h4,
h3,
h2,
h1 {
  color: grey;
}

a:hover {
  color: var(--light-green);
  text-decoration: none;
}

button {
  background-color: var(--light-green) !important;
  color: white !important;
  transition: 0.7s ease !important;
  margin: 5px;
}

button:hover {
  background-color: #343a40 !important;
  transform: scale(1.2, 1.2);
}

/* Start Navbar */
#cse {
  width: 425px;
}

#cse button {
  height: 35px;
  width: 90px;
}

.navbar {
  height: 77px;
}

#navbarSupportedContent {
  background-color: #363C42;
}

.nav-link {
  text-align: center;
}

.nav-link:hover {
  color: var(--light-green) !important;
}

.current {
  color: var(--light-green) !important;
}

/* index page */
.mainDiv {
  padding: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: justify;
  direction: rtl;
}

.mainDiv img {
  width: 260px;
}

#q {
  font-style: italic;
  font-size: 26px;
}

.mydiv {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa-video,
.fa-history,
.fa-users,
.fa-book,
.fa-eye {
  font-size: 42px;
  color: var(--light-green);
}

.youtubeBtn {
  background-color: #DC3545 !important;
}

.lecturesBtn {
  background-color: #FFC107 !important;
}

.booksBtn {
  background-color: var(--light-purple) !important;
}

/* blogs */
.blogTitle {
  font-size: 18px;
}

.art p,
li {
  direction: rtl;
  text-align: justify;
}

/* lectures */
.mycard {
  box-shadow: 5px 5px 25px rgba(1 1 1 / 15%);
  border-radius: 15px 15px;
  min-height: 450px;
  min-width: 350px;
  margin: 3px;
  transition: 0.7s ease;
  align-items: center;
}

.mycard:hover {
  transform: scale(1.1, 1.1);
}

.card-text {
  text-align: right;
}

.subTitle {
  font-size: 22px;
  color: #A267AC;
}

/* CV page */
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.fa-clock,
.fa-globe-africa,
.fa-gratipay,
.fa-language,
.fa-envelope,
.fa-file-pdf,
.fa-award,
.fa-check {
  font-size: 25px;
  color: var(--light-green);
  margin-left: 5px;
  margin-right: 5px;
}

.fa-angle-double-left,
.fa-caret-right {
  color: var(--light-green);
  margin-left: 5px;
  margin-right: 5px;
}

.social {
  font-size: 30px !important;
  letter-spacing: 15px;
  color: var(--light-green);
  width: 100%;
}

.social a {
  color: var(--light-green);
}

.social a:hover {
  color: grey;
}

.buymeacoffee {
  text-align: right;
  padding-right: 5%;
}

.fa-sort-up {
  color: var(--light-green);
  font-size: 35px !important;
}

/* footer */
.footer {
  background-color: #343a40;
  margin-top: 20px;
  text-align: center;
  color: white;
  padding: 20px;
}

.fa-copyright,
.fa-check-circle,
.fa-heart {
  color: var(--light-green);
}