ul.timeline {
    list-style-type: none;
    font-size: 18px;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    direction: ltr;
    margin: 25px 0;
    padding-left: 20px;
}

ul.timeline > li a:hover{
    color:#00bfc0
}

ul.timeline > li p.date{
    color:#A267AC;
    font-size: 16px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}