.vcont {
  max-width: 100%;
  margin: auto;
}

.vid {
  position: relative;
  padding-bottom: 56.25%;
}

.vid iframe {
  position: absolute;
  border-radius: 15px;
  border: 0px;
  width: 100%;
  height: 100%;
}